
*{
    font-family:'montserrat''sans-serif';
}


.bg-primary{
    background-color: #2c3e50 !important;




}

.row{
    background: color #98c70a !important;


}
.imagen{
    max-width:50% ;     
}
/* opacidad barra de progreso */
.progress-bar{background-color: blue !important;} 

/* Cambio de color de texto columna darecha  */
.text-primary{
    color:#147984 !important;
}
